{
  "openapi": "3.0.3",
  "info": {
    "title": "Golemio API",
    "description": "<p><img src=\"https://storage.golemio.cz/golemiocz/images/golemioapi_logos.png\" alt=\"Logos\" /></p> <p><b>Toto je dokumentace REST API projektu pra�sk� datov� platformy Golemio.</b></p> <p>Ve�ker� dotazy pros�m smerujte na <a href=\"mailto:golemio@operatorict.cz?subject=golemioapi\">golemio@operatorict.cz</a>.</p> <p>Dokumentace je v anglick�m jazyce. V�ce informac� o projektu naleznete na <a href=\"https://www.golemio.cz/\">www.golemio.cz</a>.</p>\n<H1>Description</H1> <p><b>This documentation covers the RESTful API of the Golemio Prague Data Platform project, specifically detailing the Output Gateway API.</b></p> <p>Support is accessible via <a href=\"mailto:golemio@operatorict.cz?subject=golemioapi\">golemio@operatorict.cz</a>.</p> <p>For more information about Golemio, please visit the website <a href=\"https://www.golemio.cz/\">www.golemio.cz</a>.</p>\n<H2>Golemio API documentation:</H2>\n<li>?? Main Golemio API</li> <li><a href=\"https://api.golemio.cz/docs/public-openapi/\">Open Data Golemio API</a></li> <li><a href=\"https://api.golemio.cz/input-gateway/docs/openapi/\">Golemio Input Gateway API</a></li> <li><a href=\"https://api.golemio.cz/pid/docs/openapi/\">Public Transport Golemio API</a></li> <li><a href=\"https://api.golemio.cz/pid/input-gateway/docs/openapi/\">Public Transport Golemio Input Gateway API</a></li>\n<H1>General info</H1> <H2>Authorization</H2> <p>Generate your token at <a href=\"https://api.golemio.cz/api-keys\">api.golemio.cz/api-keys</a>.</p> <p><b>Use the token as the value of the X-Access-Token header.</b></p>\n<H1>Usage</H1> <H2>Pagination</H2> <p>The API returns a maximum of 10,000 objects/rows per request. You can specify a lower number by adding the <code>?limit</code> URL parameter.</p> <p>\n    This limit may vary depending on the specific route; please refer to the description of parameters for each route. To retrieve more data, use multiple requests with the <code>?limit&offset</code> parameters.\n    Refer to the examples below.\n</p>\n<H2>Requests rate</H2> <p>By default, each API key has a rate limit of 20 requests per 8 seconds.</p>\n<H2>Compression</H2> <p>By default, the Content-Encoding header is set to gzip (if requested). If the raw response is less than 1 KB, the data is returned uncompressed, and the Content-Encoding header is not set.</p>\n<H2>Open Data</H2> <p><img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /></p> <p>This badge indicates that the data is available for public use as Open Data.</p>",
    "version": "1.0.0",
    "contact": {
      "name": "Golemio Prague Data Platform",
      "email": "golemio@operatorict.cz",
      "url": "https://golemio.cz"
    }
  },
  "servers": [
    {
      "url": "https://api.golemio.cz",
      "description": "Main (production) server"
    },
    {
      "url": "https://rabin.golemio.cz",
      "description": "Test (development) server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "?? Air Quality (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Measurements of Air Quality in Prague"
    },
    {
      "name": "?? Bicycle Counters (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Measurements of Bicycle Counters in Prague"
    },
    {
      "name": "?? Prague City Districts (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Polygons of Prague City Districts."
    },
    {
      "name": "? Energetics (v2)",
      "description": "?? Organizations & measurement devices"
    },
    {
      "name": "?? Floating Car Data (v2)",
      "description": "?? FCD"
    },
    {
      "name": "?? Pedestrians (v2)",
      "description": "?? Locations and Measurements of movement"
    },
    {
      "name": "?? Gardens (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Gardens"
    },
    {
      "name": "?? Medical Institutions (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Medical Institutions"
    },
    {
      "name": "??? Microclimate (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Microclimate Sensors Info"
    },
    {
      "name": "?? Municipal Authorities (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Municipal Authorities"
    },
    {
      "name": "??? Municipal Libraries (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Municipal Libraries"
    },
    {
      "name": "?? Municipal Police Stations (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Municipal Police Stations"
    },
    {
      "name": "??? MVT Maps (v2)",
      "description": "General vector tile data from Golemio Data Platform"
    },
    {
      "name": "?? Traffic Restrictions (v2)",
      "description": "?? NDIC Traffic Restrictions API for Intermodal Route Planner"
    },
    {
      "name": "??? Parking (v1)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ? Removed"
    },
    {
      "name": "??? Parking (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Parking spaces"
    },
    {
      "name": "??? Parking (v2) - internal",
      "description": "?? parking details, measurements and tariffs"
    },
    {
      "name": "??? Parking (v3)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Parking, occupancy, measurements, tariffs, machines. <em>Note that only a select subset of the data is published as open data.</em>"
    },
    {
      "name": "?? Playgrounds (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Playgrounds"
    },
    {
      "name": "????  Vehiclesharing (v2)",
      "description": "?? Locations and description of shared vehicles in Prague and surroundings"
    },
    {
      "name": "GBFS (v2)",
      "description": "?? General Vehiclesharing Feed Specification"
    },
    {
      "name": "?? Shared Bikes (v2)",
      "description": "?? Locations and description of shared bikes in Prague and surroundings"
    },
    {
      "name": "?? Shared Cars (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Prague Shared Cars"
    },
    {
      "name": "?? Waste Collection (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Some containers are equipped with IoT sensors that measure their fullness. Use `?onlyMonitored=true` to retrieve only these monitored containers. More about this project at [Chytr� svoz odpadu](https://www.smartprague.eu/projekty/chytry-svoz-odpadu)."
    },
    {
      "name": "?? Waste Collection (v2) - internal"
    },
    {
      "name": "?? Bulky Waste (v1)",
      "description": "Provides information about large volume containers and their planned pick dates."
    },
    {
      "name": "?? Waste Collection Yards (v2)",
      "description": "<img src=\"https://img.shields.io/badge/opendata-available-green\" alt=\"golemioapi-opendata-badge\" /> ?? Locations and Description of Waste Collection Yards"
    }
  ],
  "paths": {
    "/v2/airqualitystations": {
      "get": {
        "tags": [
          "?? Air Quality (v2)"
        ],
        "summary": "GET All Air Quality CHMI Stations",
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "schema": {
              "type": "string",
              "example": "50.124935,14.457204"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "schema": {
              "type": "number",
              "example": 5000
            }
          },
          {
            "name": "districts",
            "in": "query",
            "description": "Filter by Prague city districts (slug) separated by comma.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "praha-4"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "schema": {
              "type": "string",
              "example": "2019-05-18T07:38:37.000Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1200, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeaturePoint"
                      }
                    }
                  }
                },
                "example": {
                  "type": "FeatureCollection",
                  "features": [
                    {
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          14.4633,
                          50.07827
                        ]
                      },
                      "properties": {
                        "id": "ACHOA",
                        "district": "praha-11",
                        "measurement": {
                          "AQ_hourly_index": 3,
                          "components": [
                            {
                              "averaged_time": {
                                "averaged_hours": 1,
                                "value": 10.7
                              },
                              "type": "NO2"
                            }
                          ]
                        },
                        "name": "Praha 4-Chodov",
                        "updated_at": "2019-05-18T07:38:37.000Z"
                      },
                      "type": "Feature"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          }
        }
      }
    },
    "/v2/airqualitystations/componenttypes": {
      "get": {
        "tags": [
          "?? Air Quality (v2)"
        ],
        "summary": "GET Air Quality Station Component Types",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1200, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AirQualityStationComponentType"
                  },
                  "example": [
                    {
                      "id": 1,
                      "component_code": "SO2",
                      "unit": "�g/m�",
                      "description_cs": "oxid siricit�",
                      "description_en": "sulfur dioxide"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          }
        }
      }
    },
    "/v2/airqualitystations/history": {
      "get": {
        "tags": [
          "?? Air Quality (v2)"
        ],
        "summary": "GET Air Quality Stations CHMI History",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date in ISO8601, limits data measured from this datetime. Defaults to 1 day ago.",
            "schema": {
              "type": "string",
              "example": "2019-05-16T04:27:58.000Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date in ISO8601, limits data measured up until this datetime. Defaults to now.",
            "schema": {
              "type": "string",
              "example": "2019-05-18T04:27:58.000Z"
            }
          },
          {
            "name": "sensorId",
            "in": "query",
            "description": "Limits data measured up by sensor with this id",
            "schema": {
              "type": "string",
              "example": "12345"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1200, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AirQualityStationHistory"
                  },
                  "example": [
                    {
                      "id": "ACHOA",
                      "measurement": {
                        "AQ_hourly_index": 3,
                        "components": [
                          {
                            "averaged_time": {
                              "averaged_hours": 1,
                              "value": 10.7
                            },
                            "type": "NO2"
                          }
                        ]
                      },
                      "updated_at": "2019-05-18T07:38:37.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          }
        }
      }
    },
    "/v2/airqualitystations/indextypes": {
      "get": {
        "tags": [
          "?? Air Quality (v2)"
        ],
        "summary": "GET Air Quality Station Index Types",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1200, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AirQualityStationIndexType"
                  },
                  "example": [
                    {
                      "id": 1,
                      "index_code": "1A",
                      "limit_gte": 0,
                      "limit_lt": 0.34,
                      "color": "009900",
                      "color_text": "000000",
                      "description_cs": "velmi dobr� a� dobr�",
                      "description_en": "very good to good"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          }
        }
      }
    },
    "/v2/bicyclecounters": {
      "get": {
        "tags": [
          "?? Bicycle Counters (v2)"
        ],
        "summary": "GET All Bicycle Counters",
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "schema": {
              "type": "string",
              "example": "50.124935,14.457204"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "schema": {
              "type": "number",
              "example": 5000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "x-access-token",
            "in": "header",
            "description": "e.g. YOUR_ACCESS_TOKEN",
            "schema": {
              "type": "string",
              "example": "YOUR_ACCESS_TOKEN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "required": [
                    "type"
                  ],
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeaturePoint1"
                      }
                    }
                  },
                  "example": {
                    "type": "FeatureCollection",
                    "features": [
                      {
                        "geometry": {
                          "type": "Point",
                          "coordinates": [
                            14.4633,
                            50.07827
                          ]
                        },
                        "properties": {
                          "id": "camea-BC_AT-STLA",
                          "name": "Altetick�",
                          "route": "A140",
                          "updated_at": "2019-05-18T07:38:37.000Z",
                          "directions": [
                            {
                              "id": "BC_AT_ST",
                              "name": "Strahov"
                            }
                          ]
                        },
                        "type": "Feature"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Not Found",
                  "error_status": 404
                }
              }
            }
          }
        }
      }
    },
    "/v2/bicyclecounters/detections": {
      "get": {
        "tags": [
          "?? Bicycle Counters (v2)"
        ],
        "summary": "GET Bicycle Counters Detections",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date in ISO8601, limits data measured from this datetime",
            "schema": {
              "type": "string",
              "example": "2020-03-13T10:54:00.000Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date in ISO8601, limits data measured up until this datetime",
            "schema": {
              "type": "string",
              "example": "2020-03-15T13:05:00.000Z"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "description": "sum aggregated by directions_id is returned",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "direction ids",
            "schema": {
              "type": "string",
              "example": "camea-BC_ZA-BO"
            }
          },
          {
            "name": "x-access-token",
            "in": "header",
            "description": "e.g. YOUR_ACCESS_TOKEN",
            "schema": {
              "type": "string",
              "example": "YOUR_ACCESS_TOKEN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BicycleCounterDetections"
                  },
                  "example": [
                    {
                      "id": "camea-BC_ZA-BO",
                      "value": 3,
                      "value_pedestrians": 7,
                      "locations_id": "camea-BC_PN-VYBR",
                      "measured_from": "2019-05-18T07:38:37.000Z",
                      "measured_to": "2019-05-18T07:38:37.000Z",
                      "measurement_count": 1
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Not Found",
                  "error_status": 404
                }
              }
            }
          }
        }
      }
    },
    "/v2/bicyclecounters/temperatures": {
      "get": {
        "tags": [
          "?? Bicycle Counters (v2)"
        ],
        "summary": "GET Bicycle Counters Temperatures",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date in ISO8601, limits data measured from this datetime",
            "schema": {
              "type": "string",
              "example": "2020-03-14T09:20:00.000Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date in ISO8601, limits data measured up until this datetime",
            "schema": {
              "type": "string",
              "example": "2020-03-14T10:20:00.000Z"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "description": "average aggregated by locations_id is returned",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "location ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "camea-BC_VK-HRUP"
              }
            }
          },
          {
            "name": "x-access-token",
            "in": "header",
            "description": "e.g. YOUR_ACCESS_TOKEN",
            "schema": {
              "type": "string",
              "example": "YOUR_ACCESS_TOKEN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BicycleCounterTemperatures"
                  },
                  "example": [
                    {
                      "id": "camea-BC_AT-STLA",
                      "value": 3,
                      "measured_from": "2019-05-18T07:38:37.000Z",
                      "measured_to": "2019-05-18T07:38:37.000Z",
                      "measurement_count": 1
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Forbidden",
                  "error_status": 403
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error1"
                },
                "example": {
                  "error_message": "Not Found",
                  "error_status": 404
                }
              }
            }
          }
        }
      }
    },
    "/v2/citydistricts": {
      "get": {
        "tags": [
          "?? Prague City Districts (v2)"
        ],
        "summary": "GET All Districts",
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "schema": {
              "type": "string",
              "example": "50.124935,14.457204"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "schema": {
              "type": "number",
              "example": 5000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items.",
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2019-05-18T07:38:37.000Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CityDistrictFeature"
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "FeatureCollection"
                    }
                  },
                  "required": [
                    "features",
                    "type"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/v2/citydistricts/{id}": {
      "get": {
        "tags": [
          "?? Prague City Districts (v2)"
        ],
        "summary": "GET District",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier or slug of the city district.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "praha-1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CityDistrictFeature"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/energetics/buildings": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Get all buildings",
        "parameters": [
          {
            "name": "full",
            "in": "query",
            "description": "Display full buildings data.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=21600, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergeticsBuildingShort"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/energetics/buildings/{id}": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Get a building by ID",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number",
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnergeticsBuildingFull"
                }
              }
            }
          }
        }
      }
    },
    "/v2/energetics/devices": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "List of measurement devices",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergeticsDevice"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/energetics/devices/{deviceId}": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Measurement device info",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Id of device",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnergeticsDevice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/energetics/organizations": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "List of organizations in brief or full format",
        "parameters": [
          {
            "name": "full",
            "in": "query",
            "description": "Display full organization data.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnergeticsOrganizationShort"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnergeticsOrganizationFull"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/energetics/organizations/{organizationId}": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Organization detail",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Id of organization",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnergeticsOrganizationFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/energetics/measurements": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Measurements",
        "parameters": [
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/EnergeticsVariables"
            },
            "description": "core - Kumulovan� objem [m3]<br /> core2 - Kumulovan� prepoc�tan� objem [Nm3]<br /> EFwActi - Odber cinn� energie [kWh]<br /> EFwActiVT - Odber cinn� energie, vysok� tarif [kVArh]<br /> ERvReact - Dod�vka jalov� energie [kVArh]<br /> EFwReact - Odber jalov� energie [kVArh]<br /> raw - C�seln�k impulzu [imp]<br /> RSSI - S�la sign�lu [dBm]<br /> T - Teplota [�C]<br /> CO2 - Koncentrace CO2 [ppm]<br /> RH - Relativn� vlhkost [%]<br /> EFwActiNT - Odber cinn� energie, n�zk� tarif [kVArh]<br /> VOC - M�ra koncentrace tekav�ch l�tek [%]<br /> VT - Vysok� tarif [kWh]<br /> NT - N�zk� tarif [kWh]<br />"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/EnergeticsTypes"
            },
            "description": "monthly_reading - hodnoty sc�tan� po mes�c�ch z 15 minutov�ch spotreb poskytovan�ch firmou PRE<br /> provider_value - data z�skan� od poskytovatelu energi�<br /> dotcontrols_value - data z�skan� ze syst�mu VisApp firmy DotControls<br />"
          },
          {
            "name": "addr1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2.9"
            }
          },
          {
            "name": "addr2",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "PF1"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-01T00:00:00.000Z"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-05-02T00:00:00.000Z"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items.",
            "schema": {
              "type": "integer",
              "example": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergeticsMeasurement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/energetics/measurements/monthly-reading": {
      "get": {
        "tags": [
          "? Energetics (v2)"
        ],
        "summary": "Monthly sums of measurements from devices",
        "parameters": [
          {
            "name": "addr1",
            "in": "query",
            "description": "First part of device address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2.9"
            }
          },
          {
            "name": "addr2",
            "in": "query",
            "description": "Second part of device address",
            "required": true,
            "schema": {
              "type": "string",
              "example": "PF1"
            }
          },
          {
            "name": "variable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EnergeticsVariables"
            },
            "description": "core - Kumulovan� objem [m3]<br /> core2 - Kumulovan� prepoc�tan� objem [Nm3]<br /> EFwActi - Odber cinn� energie [kWh]<br /> EFwActiVT - Odber cinn� energie, vysok� tarif [kVArh]<br /> ERvReact - Dod�vka jalov� energie [kVArh]<br /> EFwReact - Odber jalov� energie [kVArh]<br /> raw - C�seln�k impulzu [imp]<br /> RSSI - S�la sign�lu [dBm]<br /> T - Teplota [�C]<br /> CO2 - Koncentrace CO2 [ppm]<br /> RH - Relativn� vlhkost [%]<br /> EFwActiNT - Odber cinn� energie, n�zk� tarif [kVArh]<br /> VOC - M�ra koncentrace tekav�ch l�tek [%]<br /> VT - Vysok� tarif [kWh]<br /> NT - N�zk� tarif [kWh]<br />"
          },
          {
            "name": "year",
            "in": "query",
            "description": "Year of measurement",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2023
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "Month of measurement",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=1800, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergeticsMeasurement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError1"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v2/fcd/info": {
      "get": {
        "summary": "GET Latest floating Car Data",
        "description": "",
        "tags": [
          "?? Floating Car Data (v2)"
        ],
        "operationId": "getFCD",
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Filters data with Predefined Location Id.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "TS10125T10123"
            }
          },
          {
            "name": "osmPath",
            "in": "query",
            "description": "Includes in the output pathOsm",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "minutesBefore",
            "in": "query",
            "description": "Lists items updated since given number of minutes, returns unique locations only",
            "schema": {
              "type": "integer",
              "example": 10,
              "minimum": 1,
              "exclusiveMinimum": false,
              "maximum": 60,
              "exclusiveMaximum": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=180, stale-while-revalidate=60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatingCarDataPublication"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError2"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/pedestrians/locations": {
      "get": {
        "summary": "Get locations and directions",
        "description": "",
        "tags": [
          "?? Pedestrians (v2)"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Lists only locations with this ID",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "Lists only locations with this NAME",
            "required": false,
            "schema": {
              "type": "string",
              "example": "V�stavi�te - viadukt VO 2"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 5
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PedestriansLocation"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError3"
          },
          "404": {
            "description": "Location not found"
          }
        }
      }
    },
    "/v2/pedestrians/measurements": {
      "get": {
        "summary": "GET measurements of pedestrian traffic",
        "description": "",
        "tags": [
          "?? Pedestrians (v2)"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Lists only measurements for this location",
            "required": false,
            "schema": {
              "type": "string",
              "example": "wifi1"
            }
          },
          {
            "name": "directionId",
            "in": "query",
            "description": "Lists only measurements for this direction",
            "required": false,
            "schema": {
              "type": "string",
              "example": "dir2"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 2
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date in ISO8601, limits data measured from this datetime",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-11-24T10:30:00.000Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date in ISO8601, limits data measured up until this datetime",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-11-24T10:45:00.000Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PedestriansMeasurement"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError3"
          },
          "404": {
            "description": "Location not found"
          }
        }
      }
    },
    "/v2/gardens": {
      "get": {
        "summary": "GET All Gardens",
        "operationId": "GETAllGardens",
        "description": "",
        "tags": [
          "?? Gardens (v2)"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "required": false,
            "example": "50.124935,14.457204",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "required": false,
            "example": 5000,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "districts",
            "in": "query",
            "description": "Filter by Prague city districts (slug) separated by comma.",
            "required": false,
            "example": [
              "praha-4"
            ],
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "required": false,
            "example": 10,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "required": false,
            "example": 0,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "required": false,
            "example": "2019-05-18T07:38:37.000Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "FeatureCollection"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Garden"
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError4"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/gardens/{id}": {
      "get": {
        "summary": "GET Gardens",
        "operationId": "GETGardens",
        "description": "",
        "tags": [
          "?? Gardens (v2)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the garden.",
            "required": true,
            "example": "bertramka",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Garden"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError4"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Not Found",
                      "error_status": 404
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/medicalinstitutions": {
      "get": {
        "summary": "GET All Medical Institutions",
        "operationId": "GETAllMedicalInstitutions",
        "description": "",
        "tags": [
          "?? Medical Institutions (v2)"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "required": false,
            "example": "50.124935,14.457204",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "required": false,
            "example": 5000,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "districts",
            "in": "query",
            "description": "Filter by Prague city districts (slug) separated by comma.",
            "required": false,
            "example": [
              "praha-4"
            ],
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by group of types of the medical institution.",
            "required": false,
            "example": "pharmacies",
            "schema": {
              "type": "string",
              "enum": [
                "pharmacies",
                "health_care"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "required": false,
            "example": 10,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "required": false,
            "example": 0,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "required": false,
            "example": "2019-05-18T07:38:37.000Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "FeatureCollection"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MedicalInstitution"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "features"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError5"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/medicalinstitutions/{id}": {
      "get": {
        "summary": "GET Medical Institution",
        "operationId": "GETMedicalInstitution",
        "description": "",
        "tags": [
          "?? Medical Institutions (v2)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Medical Institution.",
            "required": true,
            "example": "252671-fakultni-nemocnice-v-motole",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MedicalInstitution"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError5"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Not Found",
                      "error_status": 404
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/medicalinstitutions/types": {
      "get": {
        "summary": "GET All Medical Institution Types",
        "operationId": "GETAllMedicalInstitutionTypes",
        "description": "",
        "tags": [
          "?? Medical Institutions (v2)"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MedicalInstitutionType"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError5"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Not Found",
                      "error_status": 404
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/microclimate/locations": {
      "get": {
        "summary": "GET All Microclimate Sensor Locations",
        "operationId": "GETAllMicroclimateSensorLocations",
        "description": "",
        "tags": [
          "??? Microclimate (v2)"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by location",
            "required": false,
            "example": 130,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError6"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError1"
          }
        }
      }
    },
    "/v2/microclimate/points": {
      "get": {
        "summary": "GET Microclimate Sensor Points",
        "operationId": "GETMicroclimateSensorPoints",
        "description": "",
        "tags": [
          "??? Microclimate (v2)"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by location",
            "required": false,
            "example": 130,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pointId",
            "in": "query",
            "description": "Filter by location",
            "required": false,
            "example": 131,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Point3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError6"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError1"
          }
        }
      }
    },
    "/v2/microclimate/measurements": {
      "get": {
        "summary": "GET All Microclimate Sensor Measurements",
        "operationId": "GETAllMicroclimateSensorMeasurements",
        "description": "",
        "tags": [
          "??? Microclimate (v2)"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by location",
            "required": false,
            "example": 130,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pointId",
            "in": "query",
            "description": "Filter by location",
            "required": false,
            "example": 131,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "measure",
            "in": "query",
            "description": "Filter by measure type",
            "required": false,
            "example": "air_temp200",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by measured_at",
            "required": false,
            "example": "2023-02-16T23:03:42.588Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter by measured_at",
            "required": false,
            "example": "2023-02-16T23:03:42.588Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=3600, stale-while-revalidate=300"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Measurement"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError6"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError1"
          }
        }
      }
    },
    "/v2/municipalauthorities": {
      "get": {
        "summary": "GET All Municipal Authorities",
        "operationId": "GETAllMunicipalAuthorities",
        "description": "",
        "tags": [
          "?? Municipal Authorities (v2)"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "required": false,
            "example": "50.124935,14.457204",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "required": false,
            "example": 5000,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "districts",
            "in": "query",
            "description": "Filter by Prague city districts (slug) separated by comma.",
            "required": false,
            "example": [
              "praha-4"
            ],
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by group of types of the municipal authorities.",
            "required": false,
            "example": "city-hall",
            "schema": {
              "type": "string",
              "enum": [
                "municipality",
                "city-hall"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "required": false,
            "example": 10,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "required": false,
            "example": 0,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "required": false,
            "example": "2019-05-18T07:38:37.000Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "FeatureCollection"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MunicipalAuthority"
                      }
                    }
                  },
                  "required": [
                    "type"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError7"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/municipalauthorities/{id}": {
      "get": {
        "summary": "GET Municipal Authority",
        "operationId": "GETMunicipalAuthority",
        "description": "",
        "tags": [
          "?? Municipal Authorities (v2)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the municipal authority.",
            "required": true,
            "example": "magistrat-hlavniho-mesta-prahy",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MunicipalAuthority"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError7"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Not Found",
                      "error_status": 404
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/municipalauthorities/{id}/queues": {
      "get": {
        "summary": "GET All Municipal Authority Waiting Queues",
        "operationId": "GETAllMunicipalAuthorityWaitingQueues",
        "description": "",
        "tags": [
          "?? Municipal Authorities (v2)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the municipality.",
            "required": true,
            "example": "skoduv-palac",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/MunicipalAuthorityQueues"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError7"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Forbidden",
                      "error_status": 403
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
                    },
                    "error_status": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error_message",
                    "error_status"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "error_message": "Not Found",
                      "error_status": 404
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/municipallibraries": {
      "get": {
        "summary": "GET All Municipal Libraries",
        "operationId": "GETAllMunicipalLibraries",
        "description": "",
        "tags": [
          "??? Municipal Libraries (v2)"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "description": "Sorting by location (Latitude and Longitude separated by comma, latitude first).",
            "required": false,
            "example": "50.124935,14.457204",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "Filter by distance from latlng in meters (range query). Depends on the latlng parameter.",
            "required": false,
            "example": 5000,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "districts",
            "in": "query",
            "description": "Filter by Prague city districts (slug) separated by comma.",
            "required": false,
            "example": [
              "praha-4"
            ],
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of retrieved items. The maximum is 10000 (default value).",
            "required": false,
            "example": 10,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of the first items that are skipped.",
            "required": false,
            "example": 0,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filters all results with older updated_at than this parameter",
            "required": false,
            "example": "2019-05-18T07:38:37.000Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "Cache control directive for caching proxies",
                "schema": {
                  "type": "string",
                  "example": "public, s-maxage=43200, stale-while-revalidate=3600"
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "FeatureCollection"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MunicipalLibrary"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "features"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError8"
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_message": {
                      "type": "string"
[...]
